
  <div class="row">


    <div class="col-2">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="container">
        <div class="card-header">
          <h2>Bibliotecas</h2>
        </div>
      </div> <!-- Bibliotecas -->

      <div class="container  ">

        <div class="row ">

          <div class="card col-sm-3 m-2 p-2 " style="width: 20rem; "  *ngFor="let p of project">
            <img [src]="p.img" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{p.name}}</h5>
              <p class="card-text">{{p.description}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>


        <div class="row ">

          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LibCRUD_XML</h5>
              <p class="card-text">Biblioteca para C# -CRUD |Crea - Lee - Actualiza - Elimina| . </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> StartUp_Python</h5>
              <p class="card-text">personal script - Agrega al autoarranque un programa .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LockWebSite</h5>
              <p class="card-text">Bloquea el acceso a distintas paginas web .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Python_CRUD_ini</h5>
              <p class="card-text">CRUD *.ini in python > 3.5  </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div> <!-- Bibliotecas Code -->

      <div class="container">
        <div class="card-header">
          <h2>Funciones</h2>
        </div>
      </div> <!-- Funciones-->
      <div class="container">
        <div class="row ">
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">CPU Stress </h5>
              <p class="card-text">Estresa cualquier procesador al 100% en cuestion de segundos, procesos exponenciales, hasta que windows da pantalla azul - Python..</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">KeyAndMouse_Block </h5>
              <p class="card-text">Simple, Bloquea el Teclado y el Mouse del infectado, dejando inutilizable la computadora - Python3..</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div> <!-- Funciones Code -->

      <div class="container">
        <div class="card-header">
          <h2>App web || Sitios Web </h2>
        </div>
      </div> <!-- App web || Sitios Web-->
      <div class="container">
        <div class="row ">
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">Askme_SystemsTheory</h5>
              <p class="card-text">Aksme es una aplicación web desarrollada en NodeJs, Handlebars y mySQL. El desarrollo se dio por una tarea de la universidad [UNE-Cantuta] .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Esta pagina </h5>
              <p class="card-text">este CV .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div> <!-- App web || Sitios Web Code -->

      <div class="container">
        <div class="card-header">
          <h2>App web || Sitios Web </h2>
        </div>
      </div> <!-- Software-->
      <div class="container">
        <div class="row ">
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">Askme_SystemsTheory</h5>
              <p class="card-text">Aksme es una aplicación web desarrollada en NodeJs, Handlebars y mySQL. El desarrollo se dio por una tarea de la universidad [UNE-Cantuta] .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Esta pagina </h5>
              <p class="card-text">este CV .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div> <!-- Software Code -->

      <div class="container">
        <div class="card-header">
          <h2>App web || Sitios Web </h2>
        </div>
      </div> <!-- Others-->
      <div class="container">
        <div class="row ">
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body ">
              <h5 class="card-title">Askme_SystemsTheory</h5>
              <p class="card-text">Aksme es una aplicación web desarrollada en NodeJs, Handlebars y mySQL. El desarrollo se dio por una tarea de la universidad [UNE-Cantuta] .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card col-sm m-2 p-2">
            <img src="https://images-strapi-storage.s3.amazonaws.com/IF_20_Logo_black_94ae320a75.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Esta pagina </h5>
              <p class="card-text">este CV .</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

      </div> <!-- Other Code -->
    </div>
  </div>
