/*@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";*/
/*body,*/

/*body {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    width: 100%;*/
/*    min-height: 100%;*/
/*    background: #00bcd4;*/
/*    font-size: 16px;*/
/*    overflow: hidden;*/
/*}*/

:root {
    --my-card-background-color: #b6b6b6;
    --my-card-color: #282828;

}




#title{
    color: #a9a7a7;
}

.card-list-title{
    background-color: #000000;
    /*height: 42px;*/
    border-radius: 24px 24px 0px 0px;
}

.card-list-project-item{
    background-color: var(--my-card-color);
    border:  #6c6c6c 1px solid;
    border-radius: 24px;

}
.center-center{
    justify-content: center;
    margin: auto;
}
/*.card-list-footer{*/
/*    !*text-align: center;*!*/
/*    !*align-items: center;*!*/
/*    position:absolute;*/
/*    bottom:0px;*/
/*    right:0px;*/
/*    left: 0px;*/
/*}*/

.custom-button{
    color: #000000;
    background-color: var(--my-card-background-color);
    text-align: center;
    align-items: center;
    min-height: 42px;
    border-radius: 17px;

}
.custom-button:hover{
    /*height: 42px;*/
    color: #ffffff;
    border-radius: 18px;
    background-color: #8c8b8b;
    cursor: pointer;
}

.project-details{
    min-height: 42px;
    max-height: 100%;
}


/*#tooltip{*/
/*    position:relative;*/
/*    cursor:pointer;*/
/*    padding: 7px;*/
/*    border-bottom: 2px dotted;*/
/*}*/
/*#tooltipText{*/
/*    position:absolute;*/
/*    left: 50%;*/
/*    top:0;*/
/*    transform: translateX(-50%);*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*    white-space: nowrap;*/
/*    padding: 10px 15px ;*/
/*    border-radius: 7px;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s ease;*/

/*}*/
/*#tooltipText::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 50px;*/
/*    top:100%;*/
/*    transform: translateX(-50%);*/
/*    border: 15px solid;*/
/*    border-color: #000 #0000 #0000 #000;*/
/*}*/
/*#tooltip:hover #tooltipText{*/
/*    top: -130%;*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/