/*@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400";*/
/*body,*/

/*body {*/
/*    font-family: 'Open Sans', sans-serif;*/
/*    width: 100%;*/
/*    min-height: 100%;*/
/*    background: #00bcd4;*/
/*    font-size: 16px;*/
/*    overflow: hidden;*/
/*}*/
#title{
    color: #757373;
}
.img-icon{
    width: 35px;

}
.ccard{
    border-radius: 25px;
}
.table{
    /*color: red;*/
    background-color: #b6b6b6;
    /*border-color: #505050;*/
    /*border: 100px;*/
    /*width: 595px;*/
    height: 48px;
    border-radius: 17px;
}
.table-item{
    color: black;
}
.table-item:hover{
    color: white;
}

.table:hover{
    height: 45px;
    /*color: #2a86fc;*/
    border-radius: 50px;
    background-color: #414040;
    padding: 7px;
}
/*#tooltip{*/
/*    position:relative;*/
/*    cursor:pointer;*/
/*    padding: 7px;*/
/*    border-bottom: 2px dotted;*/
/*}*/
/*#tooltipText{*/
/*    position:absolute;*/
/*    left: 50%;*/
/*    top:0;*/
/*    transform: translateX(-50%);*/
/*    background-color: #000;*/
/*    color: #fff;*/
/*    white-space: nowrap;*/
/*    padding: 10px 15px ;*/
/*    border-radius: 7px;*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s ease;*/

/*}*/
/*#tooltipText::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 50px;*/
/*    top:100%;*/
/*    transform: translateX(-50%);*/
/*    border: 15px solid;*/
/*    border-color: #000 #0000 #0000 #000;*/
/*}*/
/*#tooltip:hover #tooltipText{*/
/*    top: -130%;*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*}*/