#card-data-project{
    /*background-color: red;*/
    width:170px;
    height: 170px;
    color: white;
}
.card-title-{
    /*background-color: red;*/
    font-size: 12px;
    color: #757575;
}
#title-project-item{
    display: flex;
    align-items: center;
}

#item-project{
    display: flex;
    align-items: center;
}
#iicon{
    color:white;
    /*background-color: white;*/
    height:75px;
    fill: white;
    width:75px;
}

.img-project-container{

}
.img-project{
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    max-height: 45px;
    max-width: 45px;


}
.box-img-icon{
    border-color: #414040;
    border-radius: 12px;
    background-color: #b6b6b6;

}
.img-icon{
    width: 60px;
}
#border-item{
    /*border-color: red;*/
    /*color: red;*/
    border-top-color: #4f4d4d;
    border-bottom-color: #4f4d4d;
}

.button-item-small-red{

    background-color: #f50000;
    /*border-radius: 50px;*/

}
.button-item-small-red:hover{
    color: #ffffff;
    background-color:  #a12a2a;
    /*border-radius: 50px;*/
}
.button-item-small-blue{
    color: #000000;
    background-color:#00cef5;
    /*border-radius: 50px;*/

}
.button-item-small-blue:hover{
    color: #ffffff;
    background-color:  #2a8fa1;
    /*border-radius: 50px;*/
}
.button-item-small-green{
    color: #000000;
    background-color: #35f500;
    /*border-radius: 50px;*/

}
.button-item-small-green:hover{
    color: #ffffff;
    background-color: #44a12a;
    /*border-radius: 50px;*/
}

.button-item-small-yellow{
    color: #000000;
    background-color: #e5f500;
    /*border-radius: 50px;*/

}
.button-item-small-yellow:hover{
    color: #ffffff;
    background-color: #9da12a;
    /*border-radius: 50px;*/
}

.my-main{
    /*max-height: 600px;*/
    /*height: 600px;*/
    /*border-color: #4059ff;*/
    /*background-color:  #a12a2a;*/
}
.my-main-img{
    /*height: 400px;*/
    max-height: 500px;
    /*border-color: #ff4040;*/
    /*background-color:  #a12a2a;*/
}


#screenshot-item{
    /*height: 100%;*/
    max-width: 100%;
    max-height: 100%;
}
#screenshot-text{
    font-weight: normal;
    font-size: 25px;
}
.card-container{
    border-radius: 23px;
}
#card_title{
    border-radius: 20px;
    color:black;
    background-color: #b6b6b6;
}

.title-h1{
    border-radius: 20px;
    color:black;
    background-color: #b6b6b6;
}

#card_note{
    border-radius: 100px 50px;
    color: #ff4040;
    background-color: #b6b6b6;
}
#card_description{
    color:white;
}

#button-info{
    color: #000000;
    border-color:#757575;
    background-color: #b6b6b6;
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-weight: normal;
    text-align-all: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

#button-info:hover{
    color: white;
    border-color:#757575;
    background-color:  #414040;
}
.button-back{
    color: #ffffff;
    border-color:#757575;
    background-color: #e52525;
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    margin: auto;

    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.button-back:hover{
    color: #ffffff;
    background-color: #414040;
    border-color:#757575;

}
.max-container{
    max-width:1250px;
}


